.photo-icon-item {
  display: inline-flex; /* Display items inline */
  align-items: center; /* Align items vertically */
  margin-right: 10px; /* Adjust margin between icon and label */
}

.photo-icon {
  width: 30px; /* Set the width of the icons */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Adjust margin between icon and label */
}
