
.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.1s ease;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 0.5px solid #333131; /* Border color and thickness */
}
.card-image {
  height: 200px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 5px;
}

.card-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  margin: 5px 0;
}

.custom-card {
  background-color: #e9e9ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease;
  border-radius: 2px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 0.5px solid #333131; /* Border color and thickness */
}

.custom-card-content {
  background-color: #e9e9ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.custom-card:hover {
  transform: scale(1.05);
}

.card-media {
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  border-top-left-radius: 4px; /* Rounded corners for media */
  border-top-right-radius: 20px;
}

.details-button {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px; /* Smaller padding */
  font-size: 12px; /* Smaller font size */
  margin-top: 10px;
}

.details-button:hover {
  background-color: #5d6064;
}
/* Responsive Styling */
@media (max-width: 768px) {
  .custom-card {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Add margin between cards */
  }
}

/* Style for the black details button */
.details-button.black {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-size: 12px; /* Smaller font size */
  margin-top: 10px;
}
