/* Navbar.css */
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a modern font */
}

.left-filter {
    margin-right: 20px; /* Adjust margin as needed */
    /* Additional styling for left filter */
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}


.nav-item {
    margin-right: 20px; /* Adjust margin as needed */
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #555;
}

.app-logo {
    display: flex;
    align-items: center; /* Align the logo vertically */
}

.app-logo img {
    width: 250px; /* Adjust the width of the logo as needed */
    height: 100px; /* Ensure height matches width for a circular shape */
    border-radius: 50%; /* Make the logo round */
    object-fit: cover; /* Ensure the image covers the circular area */
}