/* Navbar.css */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a modern font */
}

.left-filter {
  margin-right: 20px; /* Adjust margin as needed */
  /* Additional styling for left filter */
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px; /* Adjust margin as needed */
}

.nav-link {
  color: #ece9e9;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #555;
}
