.details-page {
    padding: 30px 30px 90px 200px; /* Adjust padding as needed */
    position: relative;
}

.back-button {
    display: flex;
    top: 20px;
    left: 20px;
}

.back-link {
    /*display: block;*/
    display: flex;
    width: 30px;
    height: 30px;
    text-decoration: none;
    align-items: center;
}

.back-link:hover {
    color: #000000;
    font-weight: bold;/* Change the color to your desired hover color */
}

.back-text {
    margin-left: 15px; /* Adjust as needed */
    font-size: 20px; /* Adjust font size as needed */
    color: #000000;
}

.below-title-summay{
    display: flex;
    padding-top: 0;
}
.top-title-bar {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adjust padding as needed */
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
}
.carousel-image {
    width: 100%;
    height: 100%; /* Set the height to 100% */
    object-fit: contain; /* Ensure the image covers the entire container */
    /*border: 2px solid #ccc; !* Add a border for better visibility *!*/
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}
.images-container {
    width: 60%;
    height: 100%;
    padding-right: 30px; /* Add padding only to the right side */
    padding-left: 0; /* Remove left padding */
    box-sizing: border-box; /* Include padding in the width calculation */
    /*border: 2px solid #29ff8e;*/
    float: left;
    justify-content: center;
}

.short-details-card {
    width: 25%;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    margin-left: 60px; /* Add margin-left to create a gap with the image carousel */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a modern look */
    transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    /*border: 2px solid #3d3d3d;*/
    margin-bottom: 14px;

}

.short-details-card:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2); /* Change shadow on hover for interactive feel */
}

.tabs-container {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    /*border: 2px solid rgba(50, 111, 203, 0.6);*/
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    overflow: hidden;
}

.tab {
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.tab.active {
    background-color: #1f1f1f;
    color: #fff;
}

.tab-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.tab-pane {
    width: 100%;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane.active {
    display: flex;
    flex-wrap: wrap;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.detail-item:hover {
    box-shadow:  0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.detail-text {
    margin: 0;
}

.detail-icon {
    width: 50px; /* Adjust icon size as needed */
    height: 50px;
    margin-right: 10px;
}

.back-arrow-icon {
    width: 100%;
    height: auto;

}

.hot-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1; /* Ensure the icon is above other elements */
}

.hot-label {
    /*display: inline-block;*/
    margin-left: 10px; /* Adjust margin as needed */
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: 13px;
    border-radius: 20px;
    float: right; /* Align to the right */
}

.price-drop-label {
    /*display: inline-block;*/
    margin-left: 15px;
    margin-top: 4px;
    padding: 5px 10px;
    background-color: #7df1b4;
    color: #1f1f1f;
    font-size: 12px;
    border-radius: 20px;
    float: right;
    right: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between detail items */
}

.detail-label {
    font-weight: bold; /* Make the label text bold */
    margin-right: 5px; /* Add margin between label and value */
}

.detail-value {
    font-weight: normal; /* Make the value text non-bold */
}

/* CSS for small screens */
@media (max-width: 576px) {
    .details-page {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .images-container {
        width: 100%; /* Set width to full for small screens */
        padding: 0; /* Remove padding */
        margin-left: 0; /* Remove left margin */
    }

    .short-details-card {
        width: 100%; /* Set width to full for small screens */
        margin-left: 0; /* Remove left margin */
    }
}


 CSS for medium screens
@media (min-width: 576px) and (max-width: 768px) {
    .details-page {
        padding: 30px; /* Adjust padding for medium screens */
    }

    .images-container {
        width: 60%; /* Set width to 50% for medium screens */
    }

    .short-details-card {
        width: calc(30% - 20px); /* Set width to 50% minus margin for medium screens */
        margin-left: 20px; /* Adjust left margin */
    }

    .carousel-image {
        max-height: 500px; /* Set maximum height for images */
    }
}

@media (min-width: 992px) {
  .left-section {
    width: 60%;
  }

  .right-section {
    width: 20%;
  }
}
 CSS for large screens
@media (min-width: 768px) and (max-width: 992px) {
    .details-page {
        padding: 40px; /* Adjust padding for large screens */
    }

    .images-container {
        width: 60%; /* Set width to 40% for large screens */
    }

    .short-details-card {
        width: calc(20% - 20px); /* Set width to 30% minus margin for large screens */
        margin-left: 20px; /* Adjust left margin */
    }

    .carousel-image {
        max-height: 600px; /* Set maximum height for images */
    }
}

/* CSS for extra large screens */
/* CSS for extra large screens */
@media (min-width: 992px) {
    .details-page {
        padding: 50px; /* Adjust padding for extra large screens */
    }

    .images-container {
        width: 60%; /* Set width to 30% for extra large screens */
    }

    .short-details-card {
        width: calc(25% - 30px); /* Set width to 25% minus margin for extra large screens */
        margin-left: 30px; /* Adjust left margin */
    }

    .carousel-image {
        max-height: 500px; /* Set maximum height for images */
    }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    /* Your CSS rules for iPad landscape orientation */
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    /* Your CSS rules for iPad portrait orientation */
}

.copy-icon {
    width: 25x;
    height: 25px;
    align-content: flex-start;
}