.details-page {
    position: relative; /* Ensure proper positioning of the back button */
}

.back-button {
    display: flex;
    top: 20px;
    left: 20px;
}

.back-link {
    /*display: block;*/
    display: flex;
    width: 30px;
    height: 30px;
    text-decoration: none;
    align-items: center;
}

.back-link:hover {
    color: #000000;
    font-weight: bold;/* Change the color to your desired hover color */
}

.back-text {
    margin-left: 15px; /* Adjust as needed */
    font-size: 20px; /* Adjust font size as needed */
    color: #000000;
}

.top-title-bar {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adjust padding as needed */
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.images-container {
    width: 60%; /* Adjust to match the width of the card container */
    padding-right: 30px; /* Add padding only to the right side */
    padding-left: 0; /* Remove left padding */
    box-sizing: border-box; /* Include padding in the width calculation */
    /*border: 2px solid #29ff8e;*/
    float: left;
    justify-content: center;
}

.short-details-card {
    idth: 20%;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    margin-left: 20px; /* Add margin-left to create a gap with the image carousel */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a modern look */
    transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    border: 2px solid #3d3d3d;
    margin-bottom: 14px;

}

.short-details-card:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2); /* Change shadow on hover for interactive feel */
}

.tabs-container {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    /*border: 2px solid rgba(50, 111, 203, 0.6);*/
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    overflow: hidden;
}

.tab {
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.tab.active {
    background-color: #1f1f1f;
    color: #fff;
}

.tab-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.tab-pane {
    width: 100%;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane.active {
    display: flex;
    flex-wrap: wrap;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.detail-text {
    margin: 0;
}

.detail-icon {
    width: 70px; /* Adjust icon size as needed */
    height: 70px;
    margin-right: 10px;
}

.back-arrow-icon {
    width: 100%;
    height: auto;

}

.hot-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1; /* Ensure the icon is above other elements */
}