.body {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}
.sidebar {
    flex: 1;
    overflow-y: auto;
}

.content {
    flex: 5;
    overflow-y: auto;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.pagination {
    padding-top: 2rem;
    float: right;
}

.link {
    text-decoration: none;
}